<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
title : <{$info[0]['title']}>  <br/>
contents: <{$info[0]['content']}> <br/>
<hr/>
title : <{$info[1]['title']}>  <br/>
contents: <{$info[1]['content']|htmlspecialchars_decode}> <br/>
<hr/>
title : <{$info[2]['title']}>  <br/>
contents: <{$info[2]['content'] |htmlspecialchars_decode}> <br/>
<hr/>

title : <{$info[3]['title']}>  <br/>
contents: <{$info[3]['content'] |htmlspecialchars_decode}> <br/>
<hr/>
</body>
</html>